/* latin */
@font-face {
  font-family: 'Imprima';
  font-style: normal;
  font-weight: 400;
  src: local('Imprima'), local('Imprima-Regular'), url(../fonts/Imprima/Imprima-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato/Lato-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato/Lato-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #434242;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

a {
  color: #ba55c6;
}
a:focus, a:hover {
  color: #8c6b88;
  text-decoration: none;
}
p {
  font-weight: normal;
}

.pagination>li>a, .pagination>li>span {
  color: #ba55c6;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #ba55c6;
  border-color: #ba55c6;
}

.intro-header {
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
  color: #797979;
  border-bottom: 1px solid #eaeaea;
  /*background: url(../image/home-banner.jpg) no-repeat center center fixed; */
  background: url(../image/home-banner.jpg) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro-message {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
}

.intro-message>h1 {
  margin: 0;
  font-size: 5em;
}

.intro-divider {
  width: 400px;
  border-top: 3px solid #f8d12b;
}

.intro-message>h3 
}

.intro-kategori i {
  font-size: 80%;
}
ul.intro-kategori>li a {
  text-decoration: none;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
ul.intro-kategori>li a:hover {
  color: #b866c1;
}

@media(max-width:767px) {
  .intro-message {
    padding-bottom: 15%;
  }
  .intro-message>h1 {
    font-size: 3em;
  }
  ul.intro-kategori>li {
    display: block;
    /*margin-bottom: 20px;*/
    float: left;
    width: 33%;
    padding: 0;
    border-bottom: 3px solid transparent;
  }
  ul.intro-kategori>li:last-child {
    margin-bottom: 0;
  }
}

.panel,.btn, input, textarea, li, ul {
  border-radius: 0;
}

.form-control:not(textarea) {
  height: 42px;
  padding: 10px 15px;
  line-height: 42px;
  border-radius: 20px;
}
.btn {
  border-radius: 20px;
}

.network-name {
  font-family: "Imprima", Lato, Helvetica;
  font-size: 18px;
  font-weight: 700;
}

.content-section {
  padding: 50px 0;
  background-color: #fcfcfc;
}

.bg-pattern {
  height: 400px;
  width: 100%;
  background: #d9cfd8;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.page {
  padding-top: 100px;
}
.page-2x {
  padding-top: 200px;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.banner {
  padding: 15px 0;
  margin-bottom: 15px;
}

.banner img {
  background: #fff;
  border: 1px solid #c3c3c3;
  width: 100%;
}

.banner h2 {
  margin: 0
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

footer.footer-web {
  padding: 50px 0;
  background-color: #333;
}

p.copyright {
  margin: 15px 0 0;
  color: #c3c3c3;
}
blockquote.intro {
  background-color: white;
  box-shadow: 0 0 1px #c3c3c3;
  font-size: 24px;
}

.navbar-resep {
  background: #fff;
  min-height: 75px;
  border-bottom: 0;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.navbar-resep .navbar-brand {
  height: 75px;
  line-height: 75px;
  padding: 0 15px;
}
.navbar-resep .navbar-brand img {
  height: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-resep .navbar-brand:focus, .navbar-resep .navbar-brand:hover {
    color: inherit;
}

.navbar-resep .navbar-nav>li>a {
    color: #797979;
    background-color: transparent;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

.navbar-resep .navbar-nav>.active>a, 
.navbar-resep .navbar-nav>.active>a:focus, 
.navbar-resep .navbar-nav>.active>a:hover {
    background-color: #A006B2;
}

.navbar-resep .navbar-nav>li>a:focus, 
.navbar-resep .navbar-nav>li>a:hover {
    color: #666;
}

.navbar-resep .navbar-toggle, .navbar-resep .navbar-toggle:hover, .navbar-resep .navbar-toggle:active {
  border-color: #fff;
  background: #ccc;
  margin-top: 20px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  color: #797979;
  background-color: #fff;
}
.dropdown-menu>li>a {
  color: #797979;
}
.navbar-resep .navbar-toggle .icon-bar {
  background-color: #fff;
}

.form-search {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-search input, .form-search span, .form-search .btn-search {
  font-family: "Imprima", Lato, Helvetica;
  font-size: 16px;
  height: 50px;
  padding: 10px 15px;
  border-color: #f8d12b;
}
.form-search .btn-search {
  border-radius: 50px;
  background: #f8d12b;
  color: #fff;
}
.form-search input {
  font-weight: normal;
  border-radius: 0 50px 50px 0;
  min-width: 600px;
}
.form-search input:focus {
  border-color: #b63fc4;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(219, 160, 226);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(219, 160, 226);
}
.form-search span {
  border-radius: 50px 0 0 50px;
  background: #f8d12b;
  color: #fff;
}

.box-content {
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 3px #666;
  position: relative;
}
.box-content.detail-resep {
  background: url(../img/food-pattern.jpg) repeat-x;
  background-color: #fff;
}

.box-content .box-title {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  color: #5d5d5d;
  font-family: Roboto, "Imprima", Lato, Helvetica;
}

.resep-container {

}

.resep-container .box-resep {
  background: #fff;
  overflow: hidden;
  box-shadow: 1px 1px 3px #cecece;
  font-family: "Imprima", Lato, Helvetica;
  margin-bottom: 15px;
}
.resep-container .box-resep .img-resep {
  max-height: 200px;
  overflow: hidden;
}
.resep-container .box-resep .img-resep img {
  height: 200px;
  width: 100%
}
.resep-container .box-resep .desc-resep {
  padding: 15px;
}
.resep-container .box-resep .title-resep {
  font-size: 15px;
  font-weight: bold;
  margin-top: 0;
}
.resep-container .box-resep .desc-resep p {

  font-size: 14px;
}
.resep-container .box-resep .desc-resep span {
  color: #888;
  font-weight: 100;
  font-size: 12px;
}

.search-container {
  background: #fff;
  min-height: 500px;
}
.search-container .message {
  font-size: 20px;
}

.list-resep .post {
  display: inline-block;
  padding: 10px 0;
  font-size: 16px ;
  border-bottom: 1px solid #ccc;
}
.list-resep .post-header {
  margin-bottom: 10px;
}
.list-resep .post-title {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}
.list-resep .post-author {
  float: right;
  line-height: 35px;
  color: #aaa;  
}
.list-resep .post-image {
  width: 200px;
  float: left;
  overflow: hidden;
}
.list-resep .post-image img {
  width: 200px;
  height: 150px;
}
.list-resep .post-content {
  margin-left: 200px;
  padding: 0 20px;
}
.list-resep .post-content p {
  text-align: justify;
}
.list-resep .post-meta {
  color: #b2b2b2;
  font-size: 16px;
  margin-bottom: 10px;
}
.list-resep .post-meta span {
  margin-right: 10px;
}

.page.detail-resep, .page.kategori {
  max-width: 900px;
}

.detail-container .detail-image {
  margin: auto;
  max-width: 500px;
  box-shadow: 0 0 3px #cecece;
}
.detail-container .detail-image.kategori-circle {
  border-radius: 50%;
  overflow: hidden;
}
.detail-container .detail-image.circle {
  max-width: 250px;
  position: absolute;
  left: 0;
  right: 0;
  top: -100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 5px 0px #333;
}
.detail-container .detail-image.circle {
  height: 250px;
  width: 250px;
  background-position: center;
}
.detail-container .box-header {
  padding: 20px;
  /*text-align: center;*/
}
.page-2x .detail-container .box-header {
  margin-top: 140px;
}
.detail-container .author {
  color: #6b4065;
  font-size: 18px;
}
.detail-container .kategori {
  padding: 10px;
  color: #777;
  font-size: 18px;
}
.detail-container .kategori a {
  color: #777;
}

.detail-container .content {
  font-family: "Lato", helvetica;
  font-size: 20px;
}

.detail-container .box-bahan, .detail-container .box-langkah, .detail-container .box-comment {
  padding: 20px 0;
}
.detail-container h2 {
  border-bottom: 4px solid #fbe68d;
  padding-bottom: 10px;
}

.box-langkah .langkah, .box-bahan .bahan {
  list-style-type: none;
  padding-left: 0;
  counter-reset: numList;
}
.box-langkah .langkah li, .box-bahan .bahan li {
  margin-bottom: 5px;
}
.box-langkah .langkah .desc {
  padding-left: 30px;
}
.box-langkah .langkah li:before {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  margin: 0 8px 0 0;
  display: inline-block;
  color: #ffffff;
  background: #977993;
  text-align: center;
  counter-increment: numList;
  content: counter(numList);
  float: left;
  margin-top: 0 !important;
}

.panel-comment {
  border-radius: 0;
  border: 1px solid #cecece;
}

.list-comment {
  padding-left: 0;
  list-style-type: none;
  font-size: 18px;
}
.list-comment li {
  border-bottom: 1px dotted #ccc;
  padding-left: 10px;
  margin-bottom: 10px;
}
.list-comment p {
  padding-left: 10px;
}

.kategori-container {
  min-height: 500px;
  font-size: 20px;
}
.kategori-container .kategori-list {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  height: 50px;
  line-height: 45px;
}
.kategori-container .kategori-list a {
  font-weight: 700;
}

@media (min-width: 768px){
.navbar-nav {
    float: right;
}
.navbar-nav>li>a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 75px;
}
}

.btn-akuresep {
  background-color: #62355c;
  border-color: #7d4776;
  color: #fff;
}
.btn-akuresep:hover {
  background-color: #7d4776;
  color: #fff;
}

.head-login {
  font-size: 24px;
  font-weight: 600;
  color: #744c6e;
  text-transform: uppercase;
}

.komentar .thumbnail {
  padding:0px;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.komentar .thumbnail img {
  height: 80px;
  width: 80px;
}
.komentar .panel {
  position:relative;
}
.komentar .panel>.panel-heading:after,.komentar .panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.komentar .panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.komentar .panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}